node_modules/
.env
.env.*
!.env.example
.hardhat-appdata/
cache/
dist/
artifacts/*
!artifacts/.gitkeep
coverage/
coverage.json
typechain/
typechain-types/
frontend/abi/*.json
.vercel/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
.vscode/
.idea/

.vercel
